<div id="login">

<h1>Create a New Cocktail</h1>
<%= simple_form_for(@cocktail) do |f|%>



<div class="field">
<div>
<%= f.label :name %>
</div>
<%= f.text_field :name %>
</div>
<div class="field">
<div>
<%= f.label :image, 'Image URL' %>
</div>
<%= f.text_field :image %>
</div>
<div class="field">
<div>
<%= f.label :creator  %>
</div>
<%= f.text_field :creator %>
</div>
<div class="field">
<div>
<%= f.label :ingredients %>
</div>
<%= f.text_field :ingredients %>
</div>
<div class="field">
<div>
<%= f.label :instructions %>
</div>
<%= f.text_field :instructions %>
</div>
<div class="submit">
<%= f.submit %>
</div>
<% end %>

</div>

<br>
