
<div id="cocktail_title">
  <%= @cocktail.name %>
</div>


<div class="cocktail_details">
 <div>
  <div class="image">
    <% if @cocktail.image.present?  %>
    <%= image_tag @cocktail.image, alt: @cocktail.name, class: 'cocktail_inside' %>
    <% end  %>
  </div>

  <div class="instructions">
    <h3>
    Creator: <%= @cocktail.creator %>
    </h3>
    <br>
    <br>
    <br>
    <h3>
    Ingredients: <%= @cocktail.ingredients %>
    </h3>
    <br>
    <br>
    <br>
    <h3>
    Instructions: <%= @cocktail.instructions %>
    </h3>
  </div>

</div>

<div id="cocktail_comments">
<div id="comments">
  <h1>Comments</h1>
  <br>
  <br>
  <%= render @cocktail.comments %>
</div>
  <%= render "comments/form" %>
</div>
</div>
