<%= link_to "All Cocktails", cocktails_path %>

<h1>Cocktail</h1>


<p>
Name: <%= @cocktail.name %>
</p>

 <p>
 <%= @cocktail.image %>
 </p>

 <p>
 Creator: <%= @cocktail.creator %>
 </p>

 <p>
 Ingredients: <%= @cocktail.ingredients %>
 </p>

 <p>
 Instructions: <%= @cocktail.instructions %>
 </p>
