<%= link_to "All Cocktails", cocktails_path %>

<h1>Cocktail</h1>


<p>
Name: <%= @cocktail.name %>
</p>

<% if @cocktail.image.present?  %>
<%= image_tag @cocktail.image, alt: @cocktail.name, class: 'cocktail' %>
<% end  %>


 <p>
 Creator: <%= @cocktail.creator %>
 </p>

 <p>
 Ingredients: <%= @cocktail.ingredients %>
 </p>

 <p>
 Instructions: <%= @cocktail.instructions %>
 </p>
