
<%= @cocktail.name %>

<div class="cocktail_details">
 <div>
  <div class="image">
    <% if @cocktail.image.present?  %>
    <%= image_tag @cocktail.image, alt: @cocktail.name, class: 'cocktail_inside' %>
    <% end  %>
  </div>

  <div class="instructions">
    Creator: <%= @cocktail.creator %>
    <br>
    Ingredients: <%= @cocktail.ingredients %>
    <br>
    Instructions: <%= @cocktail.instructions %>
  </div>

</div>

<div class="cocktail_comments">

  <%= render @cocktail.comments %>

  <%= render "comments/form" %>
</div>
</div>
