<div class="main_content">
<br><br>



<div>
  <div>
        <p>
             <%= @cocktail.name %>
        </p>


        <div>
        <% if @cocktail.image.present?  %>
        <%= image_tag @cocktail.image, alt: @cocktail.name, class: 'cocktail_inside' %>
        <% end  %>
        </div>
  </div>
  <br>

       <div class="details_of_cocktail">
         <ul>
         <li>
         Creator: <%= @cocktail.creator %>
         </li>
         <br>
         <li >
         Ingredients: <%= @cocktail.ingredients %>
         </li>
         <br>
         <li>
         Instructions: <%= @cocktail.instructions %>
         </li>

         </ul>
       </div>
</div>



<div>
  <h4><%= @cocktail.comments.count %> Comments </h4>
</div>

<div>
 <%= render @cocktail.comments %>
</div>

<div>
 <h4>Add Comments: </h4>
<%= render "comments/form" %>
</div>

</div>
