<%= link_to "All Cocktails", cocktails_path %>



<div class="flex-container">
  <div>
        <p>
             <%= @cocktail.name %>
        </p>


        <div>
        <% if @cocktail.image.present?  %>
        <%= image_tag @cocktail.image, alt: @cocktail.name, class: 'cocktail' %>
        <% end  %>
        </div>
  </div>
  <br>

       <div id="push_down">
         <ul>
         <li id="align">
         Creator: <%= @cocktail.creator %>
         </li>
         <li id="align">
         Ingredients: <%= @cocktail.ingredients %>
         </li>
         <li id="align">
         Instructions: <%= @cocktail.instructions %>
         </li>
         </ul>
       </div>
</div>



<div class="inside">
  <h4><%= @cocktail.comments.count %> Comments </h4>
</div>

<div class="inside">
 <%= render @cocktail.comments %>
</div>

<div class="inside">
 <h4>Add Comments: </h4>
<%= render "comments/form" %>
</div>
