
<div class="comment_form">
 <h4>Add Comments: </h4>
  <%= form_for([@cocktail, @cocktail.comments.new]) do |f|%>

  <div class="field">
      <div>
         <%= f.label :name, 'Your Name' %>
      </div>
      <%= f.text_field :name %>
  </div>

  <div class="field">
    <div>
      <%= f.label :body, 'Comment' %>
    </div>
    <%= f.text_field :body %>
  </div>

    <br>

    <div class="submit_comment">
        <%= f.submit %>
    </div>

  <% end %>
</div>
