<br>
<br>
<div class="main_content">
<h2>Login</h2>

<br>


<% if flash[:error] %>
  <!-- Print out any error message for the user -->
  <br>
  <strong><%= flash[:error] %></strong>
  <br>
  <br>
<% end %>

  <%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>



  <%= label_tag :password %>
  <%= password_field_tag :password %>



<br>

  <%= submit_tag 'Login' %>


<% end %>

</div>
