<!DOCTYPE HTML>
<html>
<head>
  <title>Cocktails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <div id="main">


<!--
    <div id="logo_text">
    </div> -->



    <div id="menubar">

       <ul id="menu">

         <li><%= link_to "Cocktails", cocktails_path %></li>

          <% if @current_user.present? %>
            You are logged in as: <%= @current_user.name %>
            <% if @current_user.admin %>
            (Admin)
            <% end %>
            <li><%= link_to "Create a new Cocktail", new_cocktail_path %></li>
            |
            <li><%= link_to "Profile", user_path(@current_user.id) %></li>
            |
            <li><%= link_to 'Logout', login_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
            |
            <li><%= link_to 'Sign Up', new_user_path %></li>
          <% end %>

        </ul><!-- menu -->

      </div><!-- menubar -->




              <%= yield %>









    <footer>
         <div id="footer">
            Copyright &copy; Hasan Aliyev 2020
          <a href="https://www.facebook.com/TheCocktailPortal/" target="_blank" class="fa fa-facebook" ></a>
          <a href="https://twitter.com/createcocktails?lang=en" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.youtube.com/channel/UCu9ArHUJZadlhwt3Jt0tqgA" target="_blank" class="fa fa-youtube"></a>
          <a href="https://www.instagram.com/bartendersportal/" target="_blank" class="fa fa-instagram"></a>
         </div>
    </footer>


  </div><!-- main -->
</body>
</html>
