<!DOCTYPE HTML>
<html>
<head>
  <title>Cocktails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div id="main">


<!--
    <div id="logo_text">
    </div> -->



    <div id="menubar">

       <ul id="menu">


           <li><%= link_to "Cocktails", cocktails_path %></li>

           <li class="align_right"><div class="login">
            <% if @current_user.present? %>
              You are logged in as: <%= @current_user.name %>
              <% if @current_user.admin %>
              (admin)

              <% end %>
              <li><%= link_to "Create a new Cocktail", new_cocktail_path %></li>
              |
              <li class="align_right"><%= link_to 'Logout', login_path, method: 'delete' %></li>
            <% else %>
              <li class="align_right"><%= link_to 'Login', login_path %></li>
              |
              <li class="align_right"><%= link_to 'Sign Up', new_user_path %></li>
            <% end %>


          </li>
        </div>

        </div>


         <%= yield %>






    <footer>
         <div id="footer">
            Copyright &copy; Hasan Aliyev 2020
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
         </div>
    </footer>
</body>
</html>
